.cinematic-container{
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

.cinematic-scroll {
    height: 1000%;
}

.cinematic-container::-webkit-scrollbar {
    display: none;
}

.cinematic-content{
    height: 100%;
    width: 100%;
    background: #fff;
    position: sticky;
    bottom:0px;

}

.cinematic-content span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
    white-space: pre;
}

.cinematic-content-row{
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

.cinematic-content-strike {
    text-decoration: line-through;
}